<div class="alert alert-dismissible alert-primary">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <strong>Oh no se ha encontrado ninguna persona con este documento!</strong> <a href="/citas/create" class="alert-link">Intentalo aqui de nuevo</a>
</div>