<div class="card card-body bg-dark text-white p-5 mt-4">
  <h1 class="display-3">Agendar Citas Medicas App!</h1>
  <p class="my-3">App Jhon Jairo Guauque 2023 <br> Modules: </p>
  <hr class="my-4" />
  <p>Doctores: <br>Pacientes<br>Citas Medicas</p>
  <div>
    <a class="btn btn-primary btn-lg" href="/doctores/create" role="button">
      Registrar Doctores
    </a>
  </div>
</div>