<div class="row">
  <div class="col-md-4 offset-md-4 mt-3">
    <div class="card">
      <div class="card-body">
        <form action="/citas/edit/{{citas._id}}" method="POST">
             <div class="mb-3">
              <label for="documento">Documento</label>
              <input
                type="text"
                name="cedula"
                value="{{citas.cedula}}"
                placeholder=" Escribe una cedula"
                class="form-control mb-3"
              />
            </div>
            <div class="mb-3">
              <label for="especialidad">Especialidad</label>
              <input
                type="text"
                name="especialidad"
                value="{{citas.especialidad}}"
                placeholder=" Escribe una especialidad"
                class="form-control mb-3"
              />
            </div>
            <button
              type=" submit"
              class="form-control btn btn-success btn-block"
            >Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>